@media screen and (width <= 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    body {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .card_container img {
        height: auto;
        width: 14em;
      }

      .card_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}

@media screen and (width <= 960px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    body {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}