* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    overflow-x: hidden;
  }

  /* - - - MENU - - - */

  nav {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  
  .nav_list {
    color: black;
    background-color: rgba(137, 43, 226, 0.8);
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
    font-family: "Anton", sans-serif;
    text-align: justify;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(180deg, rgba(137, 43, 226, 0.8), rgba(255, 255, 255, 0.603));
  }
  
  .nav_list li {
    font-size: 1.8em;
    transition: 0.3s;
  }

  .nav_list li:hover {
    cursor: pointer;
    color: white;
  }

 /* - - - HEADER - - - */
  
 .header_video {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 675px;
}

video {
  position: absolute;
  width: 1200px;
}

video::-webkit-media-controls-timeline {
  display:none;
}

video::-webkit-media-controls {
  display: none;
}

.header_video h1 {
  position: relative;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  text-shadow: 2px 2px 5px white;
  padding: 20px;
  padding-right: 10px;
  color: white;
  background: linear-gradient(rgba(72, 0, 255, 0.56), rgba(255, 192, 203, 0.541));
  border: solid 6px black;
  border-radius: 10px;
}

.header_video button {
  position: relative;
  width: 35%;
  padding: 0.5em;
  font-size: 1.6em;
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-weight: 600;
  border: solid 6px black;
  color: black;
  background-color: transparent;
  transition: 0.25s;
}

.header_title {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.header_video button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

cite {
  position: relative;
  font-size: x-large;
  margin-top: 1.3em;
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

/* - - - MAIN - - - */

main {
  background-color: black;
}

/* - - - CARDS HORIZONTALES - - - */

.card_container img {
  height: auto;
  width: 18em;
  border-radius: 10px;
}

.cards_news_container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-top: 8em;
  padding-bottom: 5em;
  color: white;
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
}

.card_container {
  border: solid 5px rgba(255, 255, 255, 0.987);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  shape-outside: polygon(100% 0, 10% 100%, 0 100%);
  gap: 100px;
  padding: 1.5em;
  box-shadow: 10px 8px 8px rgba(238, 130, 238, 0.497);
}

.card_container h1 {
  font-size: xx-large;
}

.card_container p {
  font-size: large;
  font-weight: 300;
}

.text_button_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.text_button_card button {
  width: 30vw;
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
  color: rgb(149, 34, 149);
  background-color: transparent;
  font-size: 20px;
  transition: 0.3s;
}

.text_button_card button:hover {
  cursor: pointer;
  font-size: 25px;
}

/* - - - CARDS VERTICALES - - - */


.cards_verticales {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
}

.cards_verticales h1 {
  color: white;
}

.cards_social_container {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.card_social {
  border: solid 4px white;
  border-radius: 2px;
  padding: 2em;
  height: 50vh;
  width: 70%;
  box-shadow: 10px 8px 10px violet; 
  transition: 0.35s;
}

.card_social:hover {
  cursor: pointer;
  height: 52vh;
  width: 72%;

}

.card_social p {
  font-size: 1.2em;
  margin-top: 1.5em;
  text-align: end;
}

.card_social_cover img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.tiktok_logo {
  margin-top: 3em;
  width: 9em;
  object-fit: cover;
}

.instagram_logo {
  margin-top: 3em;
  width: 10em;
  object-fit: cover;
  border-radius: 1em;
}

img.youtube_logo {
  margin-top: 1em;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 1em;
}

/* FOOTER */

footer {
  font-family: 'Anton', sans-serif;
  font-family: 'Kaushan Script', cursive;
  /* position: fixed; */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: black;

}

.footer_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  gap: 4em;
  background-color: black;

}

.icon_text_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

.icon_text_container p {
  font-size: 1.2em;
}

img {
  /* object-fit: cover; */
  width: 150px;
}

i img {
  border: 2px solid rgb(255, 192, 203);
  border-radius: 4px;
  padding: 5px;
  width: 55px;
  box-shadow: 0px 0px 40px pink;
  transition: 0.8s;
}

i img:hover {
  margin-bottom: 1.5em;
}

div p {
  color:white;
}

/* END FOOTER */



  